:root {
  --gray: #4d4d4d;
  --black: #000000;
  --pink: #eeaeae;
  --purple: #800080;
  --gradient1: linear-gradient(to left, #800080, #ff864c);
  font-size: 16px;
  font-family: "Poppins";
}
a {
  text-decoration: none;
}
.App {
  height: 100vh;
}
.main {
  margin: 0 10rem;
}
.main > div {
  padding: 2rem;
}
.heading {
  font-size: 24px;
  color: var(--purple);
  font-weight: 500;
}

.footer > h4 {
  color: var(--purple);
}
